<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width">
    <title>Teletekst</title>
    <link rel="stylesheet" href="css/nos-teletekst-text.css">
    <link rel="stylesheet" href="css/popup.css">
    <script src="../js/popup.js" type="module"></script>
</head>
<body>
    <a id="help" title="Naar opties-pagina"
   href="chrome-extension://jnaelkbaocifokjijoblgbjkdpihdiop/options/options.html">?</a></div>
  <div id="container"></div>
  <div id="message">Laden . . .</div>
</body>
</html>
