#container {
    padding: 0 8px;
    font-size: 18px;
}
#content {
    /* fix tegen scrollen cq overbodige verticale scroll bar */
    height: 500px;
}
a.external-link:hover {
    text-decoration: underline;
}
/* op p 101 zit nummer in volgende span */
.newsline.active + span a {
    color: white;
}
/* op p 102 zit nummer in dezelfde span */
.newsline.active a {
    color: white;
}
.newsline.active {
    color: white;
}
#message {
    position: absolute;
    top: 44px;
    left: 18px;
    font-style: italic;
}
