#container {
    padding: 0 8px;
    font-size: 18px;
}
#content {
    /* fix tegen scrollen cq overbodige verticale scroll bar */
    height: 500px;
}
a.external-link:hover {
    text-decoration: underline;
}
/* op p 101 zit nummer in volgende span */
.newsline.active + span a {
    color: white;
}
/* op p 102 zit nummer in dezelfde span */
.newsline.active a {
    color: white;
}
.newsline.active {
    color: white;
}
#message {
    position: absolute;
    top: 44px;
    left: 18px;
    font-style: italic;
}
#help {
    position: absolute;
    top: 0;
    right: 7px;
    padding: 0 8px;
    border-radius: 4px;
    background: #777;
    color: #dfe2e7;
    font: bold 14px/32px Arial;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .42);
    background-image: -webkit-linear-gradient(top, #7d7e7f, #626468);
    background-image: -moz-linear-gradient(top, #7d7e7f, #626468);
    background-image: -ms-linear-gradient(top, #7d7e7f, #626468);
    background-image: -o-linear-gradient(top, #7d7e7f, #626468);
    background-image: linear-gradient(top, #7d7e7f, #626468);
}
#help {
    text-decoration: none;
}
#help:hover {
    background: #a5a6a9;
    color: #dfe2e7;
}
