input.pagenr {
    width: 50px;
}
.red {
    color: #f00;
}
.green {
    color: #0f0;
}
.yellow {
    color: #ff0;
}
.cyan {
    color: #0ff;
}
.bg-blue {
    background: #00f;
    color: #fff;
}
.bg-blue a {
    color: #fff;
    text-decoration: none;
}
#onderregel {
    background-color: black;
    width: 100%;
    font-size: 14px;
}
a {
    cursor: pointer;
}
#saved-message {
    display: none;
    color: green;
}
#home-link {
    text-decoration: none;
    display: block;
    width: 20px;
    height: 32px;
    background: transparent url('../popup/view/gfx/teletekst-sprite.png?v=2013-03-19') no-repeat;
    background-position: -26px -59px;
    background-color: #777;
    position: absolute;
    right: 0;
    top: 4px;
}
#home-link:hover {
    background-color: #a5a6a9;
    color: #dfe2e7;
}
.tt-btn {
    cursor: pointer;
    float: left;
    display: block;
    padding: 0 10px;
    height: 32px;
    font: bold 14px/32px Arial;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .42);
    color: #dfe2e7;
    width: 35px;
    text-align: center;
    margin: 0 5px 5px 0;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: #7d7e7f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7f), to(#626468));
    background-image: -webkit-linear-gradient(top, #7d7e7f, #626468);
    background-image: -moz-linear-gradient(top, #7d7e7f, #626468);
    background-image: -ms-linear-gradient(top, #7d7e7f, #626468);
    background-image: -o-linear-gradient(top, #7d7e7f, #626468);
    background-image: linear-gradient(top, #7d7e7f, #626468);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#spaces-msg {
    font-style: italic;
}
.h3 {
    font-weight: bold;
    font-size: large;
}
